In [1]:
import pandas as pd
import numpy as np 
# import pickel
from keras.models import load_model

In [3]:
MODEL_PATH = "LSTM_prediction.h5"
model = load_model(MODEL_PATH)

In [5]:
df = pd.read_csv("test.csv")
df

,Date,Open,High,Low,eps,pe,InRate,InfRate,Adj Close,Volume
0,1/3/2017,28.950001,29.082500,28.690001,1.438775,10.653285,0.827070,1.926190,27.219833,115127600
1,1/4/2017,28.962500,29.127501,28.937500,1.438930,10.652835,0.826777,1.926192,27.189369,84472400
2,1/5/2017,28.980000,29.215000,28.952499,1.439085,10.652384,0.826483,1.926194,27.327641,88774400
3,1/6/2017,29.195000,29.540001,29.117500,1.439240,10.651934,0.826190,1.926196,27.632294,127007600
4,1/9/2017,29.487499,29.857500,29.485001,1.439394,10.651483,0.825897,1.926198,27.885395,134247600
...,...,...,...,...,...,...,...,...,...,...
1254,12/27/2021,177.089996,180.419998,177.070007,1.582562,10.786384,0.520334,1.977604,179.586868,74919600
1255,12/28/2021,180.160004,181.330002,178.529999,1.582636,10.787788,0.520138,1.977684,178.551132,79144300
1256,12/29/2021,179.330002,180.630005,178.139999,1.582711,10.789193,0.519943,1.977764,178.640778,62348900
1257,12/30/2021,179.470001,180.570007,178.089996,1.582785,10.790599,0.519747,1.977845,177.465637,59773000
1258,12/31/2021,178.089996,179.229996,177.259995,1.582859,10.792005,0.519552,1.977925,176.838242,64062300

In [6]:
p = model.predict(df)
p

ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type float).